<mat-toolbar color="primary">
    <mat-toolbar-row class="mat-elevation-z3">
        <span class="material-icons" style="margin-right: 10px;">mood_bad</span>
        Parece que algo va mal
        <span class="flex"></span>
        <button mat-button (click)="goTo('registrar')">Regístrate</button>
        <button mat-button (click)="goTo('login')">Iniciar sesión</button>
    </mat-toolbar-row>
    <mat-toolbar-row class="general">
        <div class="col col-md-4"></div>
        <div class="col col-md-4">
            <div class="center">
                <h1 class="upto">
                    ¡Ups!
                </h1>
                <br><br><br>
                <span>
                    La página no existe.
                </span>    
            </div>
        </div>
        <div class="col col-md-4"></div>
    </mat-toolbar-row>
</mat-toolbar>
